
Instructions.md
assets/04-web-apis-homework-demo.gif
assets/reference/04-web-apis-homework-demo.gif
assets/reference/Layer 1.png
assets/reference/Layer 10.png
assets/reference/Layer 100.png
assets/reference/Layer 101.png
assets/reference/Layer 102.png
assets/reference/Layer 103.png
assets/reference/Layer 104.png
assets/reference/Layer 105.png
assets/reference/Layer 106.png
assets/reference/Layer 107.png
assets/reference/Layer 108.png
assets/reference/Layer 109.png
assets/reference/Layer 11.png
assets/reference/Layer 110.png
assets/reference/Layer 111.png
assets/reference/Layer 112.png
assets/reference/Layer 113.png
assets/reference/Layer 114.png
assets/reference/Layer 115.png
assets/reference/Layer 116.png
assets/reference/Layer 117.png
assets/reference/Layer 118.png
assets/reference/Layer 119.png
assets/reference/Layer 12.png
assets/reference/Layer 120.png
assets/reference/Layer 121.png
assets/reference/Layer 122.png
assets/reference/Layer 123.png
assets/reference/Layer 124.png
assets/reference/Layer 125.png
assets/reference/Layer 126.png
assets/reference/Layer 127.png
assets/reference/Layer 128.png
assets/reference/Layer 129.png
assets/reference/Layer 13.png
assets/reference/Layer 130.png
assets/reference/Layer 131.png
assets/reference/Layer 132.png
assets/reference/Layer 133.png
assets/reference/Layer 134.png
assets/reference/Layer 135.png
assets/reference/Layer 136.png
assets/reference/Layer 137.png
assets/reference/Layer 138.png
assets/reference/Layer 139.png
assets/reference/Layer 14.png
assets/reference/Layer 140.png
assets/reference/Layer 141.png
assets/reference/Layer 142.png
assets/reference/Layer 143.png
assets/reference/Layer 144.png
assets/reference/Layer 145.png
assets/reference/Layer 146.png
assets/reference/Layer 147.png
assets/reference/Layer 148.png
assets/reference/Layer 149.png
assets/reference/Layer 15.png
assets/reference/Layer 150.png
assets/reference/Layer 151.png
assets/reference/Layer 152.png
assets/reference/Layer 153.png
assets/reference/Layer 154.png
assets/reference/Layer 155.png
assets/reference/Layer 156.png
assets/reference/Layer 157.png
assets/reference/Layer 158.png
assets/reference/Layer 159.png
assets/reference/Layer 16.png
assets/reference/Layer 160.png
assets/reference/Layer 161.png
assets/reference/Layer 162.png
assets/reference/Layer 163.png
assets/reference/Layer 164.png
assets/reference/Layer 165.png
assets/reference/Layer 166.png
assets/reference/Layer 167.png
assets/reference/Layer 168.png
assets/reference/Layer 169.png
assets/reference/Layer 17.png
assets/reference/Layer 170.png
assets/reference/Layer 171.png
assets/reference/Layer 172.png
assets/reference/Layer 173.png
assets/reference/Layer 174.png
assets/reference/Layer 175.png
assets/reference/Layer 176.png
assets/reference/Layer 177.png
assets/reference/Layer 178.png
assets/reference/Layer 179.png
assets/reference/Layer 18.png
assets/reference/Layer 180.png
assets/reference/Layer 181.png
assets/reference/Layer 182.png
assets/reference/Layer 183.png
assets/reference/Layer 184.png
assets/reference/Layer 185.png
assets/reference/Layer 186.png
assets/reference/Layer 187.png
assets/reference/Layer 188.png
assets/reference/Layer 189.png
assets/reference/Layer 19.png
assets/reference/Layer 190.png
assets/reference/Layer 191.png
assets/reference/Layer 192.png
assets/reference/Layer 193.png
assets/reference/Layer 194.png
assets/reference/Layer 195.png
assets/reference/Layer 196.png
assets/reference/Layer 197.png
assets/reference/Layer 198.png
assets/reference/Layer 199.png
assets/reference/Layer 2.png
assets/reference/Layer 20.png
assets/reference/Layer 200.png
assets/reference/Layer 201.png
assets/reference/Layer 202.png
assets/reference/Layer 203.png
assets/reference/Layer 204.png
assets/reference/Layer 205.png
assets/reference/Layer 206.png
assets/reference/Layer 207.png
assets/reference/Layer 208.png
assets/reference/Layer 209.png
assets/reference/Layer 21.png
assets/reference/Layer 210.png
assets/reference/Layer 211.png
assets/reference/Layer 212.png
assets/reference/Layer 213.png
assets/reference/Layer 214.png
assets/reference/Layer 215.png
assets/reference/Layer 216.png
assets/reference/Layer 217.png
assets/reference/Layer 218.png
assets/reference/Layer 219.png
assets/reference/Layer 22.png
assets/reference/Layer 220.png
assets/reference/Layer 221.png
assets/reference/Layer 222.png
assets/reference/Layer 223.png
assets/reference/Layer 224.png
assets/reference/Layer 225.jpg
assets/reference/Layer 23.png
assets/reference/Layer 24.png
assets/reference/Layer 25.png
assets/reference/Layer 26.png
assets/reference/Layer 27.png
assets/reference/Layer 28.png
assets/reference/Layer 29.png
assets/reference/Layer 3.png
assets/reference/Layer 30.png
assets/reference/Layer 31.png
assets/reference/Layer 32.png
assets/reference/Layer 33.png
assets/reference/Layer 34.png
assets/reference/Layer 35.png
assets/reference/Layer 36.png
assets/reference/Layer 37.png
assets/reference/Layer 38.png
assets/reference/Layer 39.png
assets/reference/Layer 4.png
assets/reference/Layer 40.png
assets/reference/Layer 41.png
assets/reference/Layer 42.png
assets/reference/Layer 43.png
assets/reference/Layer 44.png
assets/reference/Layer 45.png
assets/reference/Layer 46.png
assets/reference/Layer 47.png
assets/reference/Layer 48.png
assets/reference/Layer 49.png
assets/reference/Layer 5.png
assets/reference/Layer 50.png
assets/reference/Layer 51.png
assets/reference/Layer 52.png
assets/reference/Layer 53.png
assets/reference/Layer 54.png
assets/reference/Layer 55.png
assets/reference/Layer 56.png
assets/reference/Layer 57.png
assets/reference/Layer 58.png
assets/reference/Layer 59.png
assets/reference/Layer 6.png
assets/reference/Layer 60.png
assets/reference/Layer 61.png
assets/reference/Layer 62.png
assets/reference/Layer 63.png
assets/reference/Layer 64.png
assets/reference/Layer 65.png
assets/reference/Layer 66.png
assets/reference/Layer 67.png
assets/reference/Layer 68.png
assets/reference/Layer 69.png
assets/reference/Layer 7.png
assets/reference/Layer 70.png
assets/reference/Layer 71.png
assets/reference/Layer 72.png
assets/reference/Layer 73.png
assets/reference/Layer 74.png
assets/reference/Layer 75.png
assets/reference/Layer 76.png
assets/reference/Layer 77.png
assets/reference/Layer 78.png
assets/reference/Layer 79.png
assets/reference/Layer 8.png
assets/reference/Layer 80.png
assets/reference/Layer 81.png
assets/reference/Layer 82.png
assets/reference/Layer 83.png
assets/reference/Layer 84.png
assets/reference/Layer 85.png
assets/reference/Layer 86.png
assets/reference/Layer 87.png
assets/reference/Layer 88.png
assets/reference/Layer 89.png
assets/reference/Layer 9.png
assets/reference/Layer 90.png
assets/reference/Layer 91.png
assets/reference/Layer 92.png
assets/reference/Layer 93.png
assets/reference/Layer 94.png
assets/reference/Layer 95.png
assets/reference/Layer 96.png
assets/reference/Layer 97.png
assets/reference/Layer 98.png
assets/reference/Layer 99.png
.vscode/settings.json
